body {
    background-image: url(/img/fundo.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#Spider {
    flex-direction: column;
    line-height: 8px;
    margin-top: -3%;
    margin-right: 90%;
}
li {
    display: inline-block;
    margin-left: 25%;
    margin-top: 3%;
}

nav ul li a{
    color: aqua
}
nav ul li a:hover{
    color: red;
}


#juntos {
    float: left;
    text-align: center;
    margin-left: 9%;
    margin-top: -1%;
    color: aliceblue;
    

}
img {
    margin: 1%;
    margin-left: 10%;
    width: 29%;
    padding-top: 0%;
}

h1 {
    text-align: center;
    margin-top: 4%;
    margin-right: 4%;
}
.fms {
    margin: 8px;
}
.fms {
    color: rgb(202, 47, 47);
}
.fms:hover {
    color: aqua;
}